<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.article_title%></title>
</head>
<body>
    <h1><u><%= article.article_title %></u> <img width="200" height="200" src="<%= article.article_image %>" alt="<%= article.article_title %>"></h1>
    <h2> <u>Description</u> </h2>
    <%= article.article_descrip %>

    <h2> <u>Contenu de l'article</u> </h2>
    <%= article.article_content %>
</body>
</html>