<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update <%= article.article_title %></title>
</head>
<body>
    <h2> Mise a jour de <%= article.article_title %> </h2>
    
    <form method="post" action="/blog/article/update-article-page/update/<%= article._id %>" enctype="multipart/form-data">
        <p>
            <label for="article_title"> Titre de l'article </label>
            <input type="text" name="article_title" value="<%= article.article_title %>" placeholder="Nom de l'article">
        </p>
        <p>
            <label for="article_descrip"> Description de l'article </label>
            <textarea name="article_descrip"> <%= article.article_descrip %></textarea>
        </p>
        
        <p>
            <label for="article_content"> Contenu de l'article </label>
            <textarea name="article_content"> <%= article.article_content %> </textarea>
        </p>

        <p>
            <label for="article_image"> Selectionner l'image de l'article </label>
            <input type="file" name="article_image" accept="image/*"><br>
            <img src="<%= article.article_image %>" alt="<%= article.article_title%>" width="200" height="200">
        </p>
        
        <p>
            <label for="article_category"> Categorie de l'article : </label>
            <select name="article_category">
                <% list_category.forEach(category => { %>
                    <option value="<%= category._id %>"> <%= category.category_name %> </option>
                <% }); %>
            </select>
        </p>

        <input type="submit" value="Enregistrer les modifications">

    </form>

    <script>
        document.querySelector("select").value = "<%= article.article_category %>";
        const inputFile = document.querySelector("input[type=file]");

        inputFile.addEventListener("change", function(e){
            const file = inputFile.files[0];
            console.log(e)
            console.log(inputFile);
            console.log(inputFile.type);

            if(file.type.startsWith("image/")){
                console.log("il s'agit bient d'une image selectionner ");
                const reader = new FileReader();
                reader.onload = function(event){
                    document.querySelector("img").setAttribute("src", event.target.result);   
                    // document.querySelector(".preview").style.display = "block";
                }
                
                reader.readAsDataURL(file);
            }
        });
        

    </script>
</body>
</html>